.main__livechat__screen {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.chat_icon {
  position: fixed !important;
  bottom: 40px !important;
  right: 40px !important;
  z-index: 999999 !important;
}

.chat_icon img.chat_icon_img {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 64px !important;
  height: 64px !important;
  object-fit: cover !important;
  border-radius: 50% !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
  cursor: pointer !important;
  transition-property: transform !important;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  transition-duration: 300ms !important;
}

@keyframes slice_down {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

.chat_icon .chat_icon_img.animated {
  animation: slice_down 300ms ease-in-out forwards !important;
}
