.message_container {
  position: relative !important;
  display: flex !important;
  flex-direction: column !important;
  height: calc(100% - 160px) !important;
  width: 100% !important;
  overflow-y: auto !important;
}

.message_container .message_area {
  position: relative !important;
  height: 100% !important;
  background-color: #f6f6f7 !important;
  padding: 16px !important;
  overflow-y: auto !important;
}

.chat_area .message_area .message {
  display: flex !important;
  align-items: center !important;
  margin-bottom: 16px !important;
}

.message_container .message_area .message.user_message {
  justify-content: flex-end !important;
}

.message_container .message_area .message.agent_message {
  justify-content: flex-start !important;
}

.chat_area .message_area .message .message_text {
  position: relative !important;
  padding: 6px 16px !important;
  border-radius: 12px !important;
  max-width: 256px !important;
  display: block !important;
  word-wrap: break-word !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
}

.chat_area .message_area .message .message_text.user_message_text {
  background-color: #3b82f6 !important;
  color: #fff !important;
}

.chat_area .message_area .message .message_text.agent_message_text {
  background-color: #fff !important;
  color: #000 !important;
}

.message_container .input_area {
  position: fixed !important;
  bottom: 0 !important;
  left: 0 !important;
  width: 100% !important;
  background-color: #fff !important;
  border-radius: 0 0 12px 12px !important;
  padding: 16px !important;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1) !important;
}

.message_container .input_area .icon_container {
  display: flex !important;
  align-items: center !important;
  justify-content: start !important;
  width: 100% !important;
  gap: 8px !important;
}

.message_container .input_area .icon_container .emoji_picker_icon {
  position: relative;
  cursor: pointer;
}

.message_container .input_area .icon_container .emoji_picker {
  position: absolute;
  bottom: 100%; /* tương đương bottom-full */
  margin-bottom: 0.5rem; /* mb-2 ~ 8px */
  left: 0;
  background-color: white;
  border: 1px solid #d1d5db; /* border-gray-300 */
  border-radius: 0.25rem; /* rounded ~ 4px */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* shadow */
  width: 15rem; /* w-60 ~ 240px */
  z-index: 50;
}

.message_container .input_area .input_container {
  display: flex !important;
  align-items: center !important;
  justify-content: start !important;
  width: 100% !important;
  gap: 8px !important;
  margin-top: 8px !important;
}

.message_container .input_area .input_container .msg_input {
  width: calc(100% - 64px) !important;
  padding: 6px !important;
  border-radius: 8px !important;
  border: 1px solid #d1d5db !important;
  background-color: #fff !important;
  outline: none !important;
}

.message_container .input_area .input_container .msg_input::placeholder {
  color: #9ca3af !important;
  font-size: 14px !important;
}

.message_container .input_area .input_container .msg_input:focus {
  border-color: #2563eb !important;
  box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.5) !important;
}

.message_container .input_area .input_container .send_btn {
  border-radius: 8px !important;
  background-color: #3b82f6 !important;
  transition-duration: 150ms !important;
  padding: 8px 16px !important;
  color: #fff !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  outline: none !important;
  border: none !important;
  cursor: pointer !important;
}
