@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

body {
    font-family: 'Manrope', sans-serif;
    margin: 0;
    padding: 0;
}

.custom-gradient {
    background: radial-gradient(circle at top right, #483b2b 0%, #211c19 20%, #131313 45%, #131313 100%);
}